{
  "rules": {
    "max-len": ["error", {
      "code": 120,
      "ignoreComments": true
    }],
    "arrow-parens": ["error", "as-needed"],
    "semi": ["error", "never"],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    "comma-dangle": ["error", "always-multiline"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-underscore-dangle": [
      0
    ]
  },
  "env": {
    "node": true,
    "mocha": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ]
}
